#forgetDiv{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#forgetNav{
    width: 100vw;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.475);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

#forgetSignup{
    background-color: blue;
    /* width: 50px; */
    height: 30px;
    font-size: 16px;
    padding: 2px;
    border-radius: 8px;
}

#forgetLogin{
    width: 60px;
    border: none;
    color: rgb(0, 85, 255);
    background-color: black;
    cursor: pointer;
    font-size: 16px;
}

#forgetPass{
    margin: auto;
    width: 400px;
    height: 70vh;
    border: 1px solid rgba(255, 255, 255, 0.475);
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}

#forgetPass input{
    width: 90%;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.475);
    color: white;
    padding-left: 2px;
    border-radius: 6px;
    background-color: rgb(37, 37, 37);
    font-size: 14px;
}

#forgetPass button{
    width: 90%;
    height: 30px;
    background-color: blue;
    font-size: 17px;
    border-radius: 6px;
}

#forgetPass p{
    text-align: center;
}

#forgetNav h2{
    font-family: cursive;
}