.homeDiv{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.navigation{
    width: 16vw;
    height: 100vh;
    border: 1px solid rgba(255, 255, 255, 0.475);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navigation ul{
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation ul li img{
    background-color: white;
    width: 20px;
    border-radius: 2px;
}