/* .homeDiv{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    overflow-x: hidden;
} */

/* .navigation{
    width: 16vw;
    height: 100vh;
    border: 1px solid rgba(255, 255, 255, 0.475);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
} */

/* .navigation ul{
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
} */

/* li{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .navigation ul li img{
    background-color: white;
    width: 20px;
    border-radius: 2px;
} */

/* .post{
    width: 500px;
    height: 400px;
    border: 1px solid gray;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} */

/* .show{
    width: 84vw;
    min-height: 100vh;
    position: absolute;
    left: 16vw;
    box-sizing: border-box;
} */