/* These directives inject Tailwind's base, components, 
  and utility styles into your CSS. 
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add custom global styles below here */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}