/* .navShow{
    width: 100%;
    min-height: 100vh;
    border: 1px solid rgba(255, 255, 255, 0.475);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
} */

/* #userDetails{
    width: 450px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* #user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
} */

/* #editProfileBtn{
    width: 450px;
    height: 50px;
    background-color: rgb(16, 81, 81);
    font-size: 17px;
} */

/* .homePosts{
    width: 100%;
    min-height: 100vh;
    border: 1px solid rgba(255, 255, 255, 0.475);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
} */

/* .stories{
    width: 100%;
    height: 100px;
} */

.post{
    width: 400px;
    height: 200px;
}

/* .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .searchDiv{
    width: 84vw;
    height: 100vh;
    border: 1px solid gray;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .searchDiv input{
    width: 300px;
    height: 50px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
} */

/* .searchDiv button{
    width: 100px;
    height: 50px;
    border-radius: 8px;
    font-size: 18px;
    border: 2px solid gray;
    box-sizing: border-box;
    background-color: purple;
} */

/* .showUsers{
    width: 400px;
    height: max-content;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
} */

/* .showSearchData{
    width: 100%;
    display: flex;
    justify-content: space-around;
} */